p {
  margin: 0;
  padding: 0;
}
body {
  width: 1920px;
  height: 4081px;
  background: #031923;
}

.img-logo {
  width: 177px;
  height: 97px;
  margin-left: 128px;
  margin-top: 8px;
  background: url(image);
  filter: drop-shadow(0px 0px 10px #00d8a4) drop-shadow(0px 0px 15px #00d8a4);
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #031923;
  width: 1920px;
  height: 112px;
  order: 0;
  flex-grow: 0;
}

.header-left {
  flex: 1;
  font-family: Gilroy;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 1179px;
  color: white;
  margin-right: 120px;
  row-gap: 48px;
}

.header-text {
  color: #00ffa3;
  font-size: large;
}
.hero-section {
  width: 1920px;
  height: 802px;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.hero-section-img {
  margin-left: 0px;
  width: 1920px;
  height: 505px;
  object-fit: cover;
  object-position: top;
  background: #03161e;
}

.hero-section-img-1 {
  margin-left: 0px;
  margin-top: -675px;
  width: 1920px;
  height: 675px;
  object-fit: cover;
  mix-blend-mode: luminosity;
  opacity: 0.1;
}

.background {
  display: flex;
  flex-direction: column;
  margin-top: 572px;
  width: 1920px;
  background: #03161e;
  align-items: center;
}

.title {
  font-family: "DotGothic16";
  font-style: normal;
  font-weight: 400;
  font-size: 58px;
  line-height: 84px;
  text-align: center;
  color: #ffffff;
  margin-top: -605px;
}

.title-small {
  display: flex;
  justify-content: center;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  margin-top: 20px;
  color: #ffffff;
  align-items: center;
  width: 600px;
}

.title-button {
  background: linear-gradient(180deg, #00d8a4 0%, #009470 100%);
  box-shadow: 6px 6px 17px rgba(3, 23, 32, 0.46);
  border-radius: 20px 4px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  align-items: center;
  padding: 0px;
  gap: 32px;
  width: 286px;
  height: 59px;
  border: 0;
  color: #ffffff;
  cursor: pointer;
  margin-top: 34px;
}
.carts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.carts-left-text {
  font-family: "DotGothic16";
  font-style: normal;
  font-weight: 400;
  font-size: 144px;
  line-height: 209px;
  text-align: right;
  color: #ffffff;
  opacity: 0.1;
  margin-left: 120px;
  margin-top: 20px;
}
.carts-right-text {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  margin-top: 61px;
  align-items: center;
  width: 600px;
  margin-top: 20px;
}
.right-1 {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.25em;
  color: #ffffff;
  opacity: 0.7;
}
.right-2 {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  opacity: 0.7;
}
.right-3 {
  font-family: "DotGothic16";
  font-style: normal;
  font-weight: 400;
  font-size: 58px;
  color: #ffffff;
  text-align: bottom;
  margin-right: 121px;
}

.cart-class {
  display: flex;
  flex-direction: row;
}

.class-img {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 423px;
  margin-right: 50px;
}
.class-img-centre {
  flex: 2;
  width: 830px;
  background: url(image);
  filter: drop-shadow(0px 0px 10px #00d8a4) drop-shadow(0px 0px 15px #00d8a4);
}
.class-text {
  font-family: "DotGothic16";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  text-align: right;
  color: #ffffff;
  margin-right: 90px;
  margin-top: -70px;
}
.class-text-1 {
  font-family: "DotGothic16";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  text-align: right;
  color: #ffffff;
  margin-right: 90px;
  margin-top: -140px;
}

.class-text-name {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  text-align: right;
  color: #ffffff;
  margin-top: 23px;
  margin-bottom: 23px;
  margin-right: 90px;

}
.class-text-info {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  text-align: right;
  color: #ffffff;
  margin-right: 90px;
}
.booking {
  position: relative;
  text-align: center;
  color: white;
}
.booking-left-text {
  font-family: "DotGothic16";
  font-style: normal;
  font-weight: 400;
  font-size: 144px;
  line-height: 209px;
  position: absolute;
  top: 52px;
  left: 1289px;
  right: 127;
  opacity: 0.1;
}
.booking-right-text {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  margin-top: 61px;
  align-items: center;
  position: absolute;
  top: 8px;
  left: 121px;
  width: 919px;
}
.right-1 {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.25em;
  color: #ffffff;
  opacity: 0.7;
}
.right-2 {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  opacity: 0.7;
}
.right-3 {
  font-family: "DotGothic16";
  font-style: normal;
  font-weight: 400;
  font-size: 58px;
  color: #ffffff;
  text-align: bottom;
  margin-right: 121px;
}

.cart-class {
  display: flex;
  flex-direction: row;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.carts-left-text {
  font-family: "DotGothic16";
  font-style: normal;
  font-weight: 400;
  font-size: 144px;
  line-height: 209px;
  text-align: right;
  color: #ffffff;
  opacity: 0.1;
  margin-left: 120px;
  margin-top: 20px;
}
.carts-right-text {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 10px;
  margin-top: 61px;
  align-items: center;
  width: 750px;
  margin-top: 20px;
}
.right-1 {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.25em;
  color: #ffffff;
  opacity: 0.7;
}
.right-2 {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #ffffff;
  opacity: 0.7;
}
.right-3 {
  font-family: "DotGothic16";
  font-style: normal;
  font-weight: 400;
  font-size: 58px;
  color: #ffffff;
  text-align: bottom;
  margin-right: 121px;
}
.background-img {
  margin-top: 10px;
  width: 1920px;
  height: 540px;
  background-image: url(/img/background-img.png);
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(/img/background-img.png);
  transform: matrix(-1, 0, 0, 1, 0, 0);
  opacity: 0.3;
  object-fit: cover;
}
.booking-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;
  position: absolute;
  width: 524px;
  height: 100px;
  left: 120px;
  top: 169px;
  text-align: left;
}
.metr {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  color: #00ffa3;
}
.metr-1 {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  color: #ffffff;
}
.metr-position {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
  width: 174px;
  height: 76px;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.sec-position {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
  width: 174px;
  height: 76px;
  flex: none;
  order: 1;
  flex-grow: 1;
}
.metr-sec {
  display: flex;
  position: absolute;
  top: 300px;
  left: 121px;
  width: 919px;
}
.title-button-1 {
  background: linear-gradient(180deg, #00d8a4 0%, #009470 100%);
  box-shadow: 6px 6px 17px rgba(3, 23, 32, 0.46);
  border-radius: 20px 4px;
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  align-items: center;
  padding: 0px;
  gap: 32px;
  width: 286px;
  height: 59px;
  border: 0;
  color: #ffffff;
  cursor: pointer;
  margin-top: 34px;
  position: absolute;
  top: 279px;
  left: 816px;
  bottom: 240px;
}
.features-blok {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 83px;
}
.features {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  gap: 15px;
  width: 513px;
  height: 178px;
  background-color: #03161e;
  border-color: #00d8a4;
  border-style: solid;
  border-width: 3px;
  color: white;
  padding: 9px 16px;
  border-radius: 20px;
  margin-right: 8px;
}
.img {
  display: flex;
  width: 100px;
  height: 96px;
  background-color: #03161e;
  border-color: #00d8a4;
  border-style: solid;
  border-width: 3px;
  color: white;
  padding: 9px 16px;
  border-radius: 20px 4px;
  margin-right: 8px;
}
.features-text-1 {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
}
.features-text-2 {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  opacity: 0.5;
  width: 310px;
  margin-top: 15px;
}
.contacts-right-text {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}
.contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.map-img {
  width: 847px;
  height: 411px;
  border-color: #00d8a4;
  border-style: solid;
  border-width: 2px;
  border-radius: 16px;

}
.contact-text,
.contact-text-adress {
  font-family: "Gilroy";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #ffffff;
  margin-bottom: 20px;
}
.contact-text-adress {
  color: #00d8a4;
  margin-top: 40px;
}
.contact-button {
    background: linear-gradient(180deg, #00d8a4 0%, #009470 100%);
    box-shadow: 6px 6px 17px rgba(3, 23, 32, 0.46);
    border-radius: 20px 4px;
    font-family: "Gilroy";
    font-style: normal;
    font-weight: 500;
    font-size: 22px;
    line-height: 26px;
    align-items: center;
    padding: 0px;
    gap: 32px;
    width: 286px;
    height: 59px;
    border: 0;
    color: #ffffff;
    cursor: pointer;
    margin-top: 34px;
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #031923;
  width: 1920px;
  height: 112px;
  order: 0;
  flex-grow: 0;
  margin-top: 50px;

}
.footer-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
margin-left: 120px;
}
.footer-left {
  flex: 1;
  font-family: Gilroy;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 1179px;
  color: white;
  margin-right: 120px;
  row-gap: 48px;
}

.footer-text {
  color: #ffffff;
  opacity: 0.5;
  width: 380px;
  margin-right: 200px;
}
.footer-img-logo {
  width: 177px;
  height: 97px;
  margin-top: 8px;
  background: url(image);
  filter: drop-shadow(0px 0px 10px #00d8a4) drop-shadow(0px 0px 15px #00d8a4);
}
.copyright {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.copyright-img {
  display: flex;
  width: 35px;
  height: 35px;
  background-color: #03161e;
  border-color: #00d8a4;
  border-style: solid;
  border-width: 3px;
  color: white;
  border-radius: 5px;
  margin-right: 25px;
}
.copyright-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
margin-left: 120px;
margin-top: 60px;
margin-bottom: 60px;
}
.copyright-left {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 1179px;
  color: white;
  margin-right: 120px;
}
.copyright-text {
  font-family: 'Gilroy';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #00FFA3;
  }
